# Regressão multipla

Exemplo de análise com regressão multipla usando os dados do Airbnb

## Objeto

Modelar a taxa mensal de avaliações (ocupação.)

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel('Dados/DadosAirbnbIA.xls', sheet_name=0)

In [6]:
df.head()

,ID,ID da hospedagem,Nome da hospedagem,ID do Hospede,Nome do Hospede,Grupo de vizinhança,latitude,longitude,Tipo de hospedagem,Preço,locação mínima,Número de avaliações,Taxa mesal de ocupação,Número máximo de hóspedes,Disponibilidade anual
0,1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,4064749.0,-7397237,Quarto Privativo,125,1,9,0.21,6,365
1,2,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,4075362.0,-7398377,Ap/Casa inteira,79,1,45,0.38,2,355
2,6,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,4074767.0,-73975,Ap/Casa inteira,60,3,74,0.59,1,129
3,23,8025,CBG Helps Haiti Room#2.5,22486,Lisel,Brooklyn,4067989.0,-7397798,Quarto Privativo,80,1,39,0.37,6,364
4,24,8110,CBG Helps Haiti Rm #2,22486,Lisel,Brooklyn,4068001.0,-7397865,Quarto Privativo,60,2,71,0.61,6,304

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         211 non-null    int64
 1   ID da hospedagem           211 non-null    int64
 2   Nome da hospedagem         211 non-null    object
 3   ID do Hospede              211 non-null    int64
 4   Nome do Hospede            211 non-null    object
 5   Grupo de vizinhança        211 non-null    object
 6   latitude                   209 non-null    float64
 7   longitude                  211 non-null    int64
 8   Tipo de hospedagem         211 non-null    object
 9   Preço                      211 non-null    int64
 10  locação mínima             211 non-null    int64
 11  Número de avaliações       211 non-null    int64
 12  Taxa mesal de ocupação     211 non-null    float64
 13  Número máximo de hóspedes  211 non-null    int64
 14  Disponibilidade anual      211 non-null    int64
dtypes: float64(2), int64(9), object(4)
memory usage: 24.9+ KB

In [8]:
df.describe()

,ID,ID da hospedagem,ID do Hospede,latitude,longitude,Preço,locação mínima,Número de avaliações,Taxa mesal de ocupação,Número máximo de hóspedes,Disponibilidade anual
count,211.000000,211.000000,2.110000e+02,2.090000e+02,2.110000e+02,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000
mean,300.440758,93579.838863,4.499419e+05,3.681804e+06,-6.570193e+06,91.672986,9.303318,36.853081,0.381137,2.037915,204.635071
std,174.646200,68721.006998,6.456684e+05,1.143813e+06,2.211115e+06,24.954476,12.487820,24.373917,0.228768,3.356370,108.078431
min,1.000000,2539.000000,2.787000e+03,4.072900e+04,-7.400821e+06,50.000000,1.000000,1.000000,0.010000,1.000000,10.000000
25%,136.500000,31728.500000,9.094850e+04,4.068111e+06,-7.398198e+06,70.000000,2.000000,17.500000,0.200000,1.000000,102.000000
50%,306.000000,71010.000000,3.066050e+05,4.071813e+06,-7.396128e+06,89.000000,4.000000,33.000000,0.360000,1.000000,223.000000
75%,453.500000,159782.000000,6.601125e+05,4.074503e+06,-7.394719e+06,110.000000,9.500000,54.000000,0.560000,2.000000,286.500000
max,593.000000,224006.000000,6.197784e+06,4.085879e+06,-7.396600e+04,149.000000,90.000000,97.000000,0.890000,28.000000,365.000000

In [14]:
df.drop(axis=0, columns=['ID', 'Nome da hospedagem', 'ID da hospedagem', 'ID do Hospede', 'Nome do Hospede'], inplace=True)

In [15]:
df.head()

,Grupo de vizinhança,latitude,longitude,Tipo de hospedagem,Preço,locação mínima,Número de avaliações,Taxa mesal de ocupação,Número máximo de hóspedes,Disponibilidade anual
0,Brooklyn,4064749.0,-7397237,Quarto Privativo,125,1,9,0.21,6,365
1,Manhattan,4075362.0,-7398377,Ap/Casa inteira,79,1,45,0.38,2,355
2,Manhattan,4074767.0,-73975,Ap/Casa inteira,60,3,74,0.59,1,129
3,Brooklyn,4067989.0,-7397798,Quarto Privativo,80,1,39,0.37,6,364
4,Brooklyn,4068001.0,-7397865,Quarto Privativo,60,2,71,0.61,6,304

In [16]:
pd.ols?

Object `pd.ols` not found.